h2 {
    text-align: center;
    margin: 1.5em 0;
}
.projectCardHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.projectCard {
    border: white 2px solid;
    border-radius: 5px;
    width: 250px;
    padding: 50px;
    margin: 20px 0px 20px;
}

.projectCard h3, h5 {
    margin-bottom: 5px;
}

.projectCard a {
    text-decoration: underline;
    color: inherit;
}

@media (max-width: 768px){
    .projectCardHolder {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projectCard {
        width: 300px;
    }
}